<main>
    <section id="notes">
        <div id="stave-buttons">
            <p-button icon="pi pi-arrow-up" [rounded]="true" severity="secondary" [outlined]="true" />
            <p-button icon="pi pi-arrow-down" [rounded]="true" severity="secondary" [outlined]="true" />
        </div>
        <div #notes id="notes"></div>
    </section>
    <section id="keyboard">
        <pno-keyboard></pno-keyboard>
    </section>
</main>

<div id="icon-left">
</div>
<div id="icon-right">
    <p-button icon="pi pi-cog" [rounded]="true" [outlined]="true" severity="secondary"></p-button>
    <p-button (click)="toggleFullscreen()" [rounded]="true" [outlined]="true"
        [icon]="'pi pi-window-' + (isFullscreen ? 'minimize' : 'maximize')" severity="secondary" />
</div>